.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: 250px;
}
.recommend {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(240px + 1rem);
}